body{
  background-color: rgb(166, 166, 166);
}

.header{
  padding: 92px 24px 90px 24px;
  background-color: #ffff;
  display: flex;
  align-items: center
}

.header__menu__list{
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
  font-style: normal;
  padding-left: 27px;
  padding-right: 36px;
}
.header__links-list-item_no-bullet{
  list-style: none;
  text-decoration: none;
}

.header__logo__img{
  width: 148px;
  height: 105px;
}

.address{
  padding-left: 187px;
  font-size: 18px;
  font-style: normal;
}

.address__link{
  display: flex;
  flex-direction: column;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
} 

.cover{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 165px 50px 51px 50px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover__title{
  color: #ffff;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing:0.3em;
  
}

.overlay{

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.accent-span{
  display: block;
}
.text-center{
  text-align: center;
  padding-top: 11px;
}
.text-right{
  text-align: right;
  padding-top: 2px;
}

.letter-spacing-extended{
  letter-spacing: 0.6em;
}

.no-letter-spacing{
  letter-spacing: 0em;
}

.cover__description{
  display: flex;
  justify-content: space-between;
  color: #ffff;

}

.cover__description-text{
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 140px;
  padding-left: 29px;
  word-spacing:18px;
}

.bet-button{
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 32px 11px 31px;
  border: 1px solid #ffffff;
  width: 256px;
  height: 51px;
  margin-top: 128px;
}

