.header{
  margin: ;
}
.header__menu__list{
  display: flex;
  justify-content:flex-start;
  margin: 92px 24px 96px 24px;
	gap: 13px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header__menu__img{
  width: 7px;
}

